@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Caveat:wght@400;500&family=Dancing+Script:wght@600;700&family=Permanent+Marker&display=swap');
.header{
    color: rgb(247, 43, 43);
    font-size: xx-large;
    height: 90px;
    background-image: url(latar.jfif);
  
}
body{
    margin: 10px;
    padding: 10px;
    background-color: rgb(223, 126, 155);
    color: black;
    transition: .5s;
}

input[type="checkbox"]{
    position: relative;
    width: 40px;
    height: 20px;
    appearance: none;
    background-color: pink;
    outline: none;
    border-radius: 10px;
    transition: .5s ease;
    cursor:pointer;
}

input[type="checkbox"]:checked{
    background-color: rgb(224, 109, 159); 
    
}

input[type="checkbox"]::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: .5s ease;
}

input[type="checkbox"]:checked::before{
    transform: translateX(20px);
}

.dark{
    background-color: rgb(83, 39, 49);
    color: white;
}

.center {
    margin: auto;
    width: 50%;
}
 .Data{
    padding: 30px 800px 30px 10px;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url(bc.jfif);

} 

.header-logo{
    font-size: 36px;
    float: left;
    padding: 20px 40px;
    font-family: 'Dancing Script', cursive;
}

.header-list li{
    border: #f0648a;
    float: right;
    list-style: none;
    padding: 33px 20px;
    font-size: large;

}
.contents-item{
    font-family: 'Dancing Script', cursive;
}

.li{
    list-style: none;
}


.main{
    padding: 0px;
}

.container {
    font-size: 20px;
    width: 1200px;
    top: auto;
    margin-top: auto;
    margin: 0px;
    left: 100px;
    text-align: left;

}

.search-area{
    width: 500px;
    height: 50px;
    background: #fff;
    border-radius: 20px;
    padding-left: 10px;
    box-shadow: 19px 21px 53px rgba(46, 46, 46, 0.66);
    float: left;
    border: none;
}
.search-btn{
    width: 180px;
    height: 50px;
    border-radius:10px ;
    color: #fff;
    cursor: pointer;
    background-color: rgb(93, 89, 89);
    margin-left: -30px;
    margin-top: 0.2px;
    box-shadow: 0px 21px 53px rgba(46, 46, 46, 0.66);
    border: none;
}

.contents{
    height: 850px;
    margin-top: 100px;
    /* background-image: url(bc.jfif); */
    margin: 0;
    padding: 0;
}
.section-tittle{
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.contents-item{
    float: left;
    margin-right: 40px;
}
.contents-item p{
    margin-top: 30px;
    font-size: 24px;
}
.contact-form{
    font-size: medium;
}

.footer{
    background-color: #f0648a;
    color: #fff;
    height: 70px;
    margin: 0px;
}

.footer-logo{
    font-size: 20px;
    float: left;
}

.footer-list{
    float: right;
}

.footer-list li{
    padding-bottom: 20px;
}